[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glfwwebgpu"]
	path = external/glfwwebgpu
	url = git@github.com:jtlaughton/glfw3webgpu.git